      <header id="header" class="stricky home">
         <div class="zt-container clearfix">
            <div class="logo pull-left">
               <a href="index.html">
                  <img src="images/logo/logo-no-bg.png" alt="">
               </a>
            </div>
            <nav class="nav-holder pull-right">
               <div class="nav-footer">
                  <ul class="nav">
                     <li class="has-submenu active">
                        <a href="index.html">Home </a>
                     </li>
                     <li class="has-submenu">
                        <a href="destinations.html">Tours</a>
                     </li>
                     <li><a href="gallery.html">Gallery</a></li>

                     <li><a href="about.html">About</a></li>
                     <li><a href="contact.html">Contact</a></li>
                  </ul>
               </div>
               <div class="nav-header">
                  <ul>
                     <li>
                        <a href="index.html#"><span class="icon icon-phone"></span></a>
                        <ul class="submenu phone-box">
                           <li>
                              <div class="text-phone-number">
                                 <div class="phone-number"><a href="tel:0123456789">012.345.6789</a></div>
                                 <div class="time-wrap">
                                    <span class="now-is">Now is:</span>
                                    <span class="time-open">OPEN</span>
                                 </div>
                              </div>
                           </li>
                        </ul>
                     </li>
                     <li class="mobile-menu-trigger"><button class="hidden-lg hidden-md menu-expander"><i class="fa fa-bars"></i></button></li>
                  </ul>
               </div>
            </nav>
         </div>
      </header>